body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #368cd6, #2a6fa9, #1f537e, #163956, #0d2031);
    color: #333;
    display: flex;
    flex-direction: row; /* Align items horizontally */
    height: 100vh; /* Full height of the viewport */
}

header {
    flex: 0 0 400px; /* Fixed width for header */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f537e;
}

.profile-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
}

.header-info {
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-family: "Outfit", sans-serif;
}

.location-icon{
    height: 24px;
    vertical-align: -5px;
}

.linkedin-icon{
    height: 32px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.tabs {
    display: flex;
    justify-content: flex-end;
    background: none; 
    border: none;
    padding: 0;
    font-family: "Outfit", sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: calc(100% - 250px); /* Adjust width based on header width */
}

.tab-link {
    background: none; 
    padding: 14px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    color: white;
}

.tab-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #368CD6;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tab-link:hover::after {
    width: 80%; /* Expand the underline on hover */
}

.tab-link.active::after {
    width: 80%; /* Keep the underline for the active tab */
}

.tab-content {
    display: none;
    padding: 20px;
    box-sizing: border-box;
}

.tab-content.active {
    display: block;
}

section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    
}

section:hover {
    transform: scale(1.01);
}

section h2 {
    margin-top: 0;
    color: white;
}

.section-content {
    margin-bottom: 20px;
}

.section-content h3 {
    margin-bottom: 5px;
    color: white;
}

.section-content p {
    margin: 0;
    color: white;
}

.section-content ul {
    list-style-type: disc;
    padding-left: 20px;
    color: white;
}

.section-content ul li {
    margin-bottom: 5px;
    color: white;
}
