body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.tabs {
    display: flex;
    justify-content: right;
    background-color: #333;
}

.tab-link {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.tab-link:hover {
    background-color: #575757;
}

.tab-link.active {
    background-color: #4CAF50;
}

.tab-content {
    padding: 20px;
}

header {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    position: absolute; 
    left: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover; 
}

.header-info {
    text-align: center; 
    padding-left: 140px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section h2 {
    margin-top: 0;
}

.section-content {
    margin-bottom: 20px;
}

.section-content h3 {
    margin-bottom: 5px;
}

.section-content p {
    margin: 0;
}

.section-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.section-content ul li {
    margin-bottom: 5px;
}
